.form {
  width: 100%;
  max-width: 800px;
  margin: 50px auto;

  &__part {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__elem {
    width: 100%;
  }
}

.preview {
  display: block;
  width: 100%;
}

.progressbar {
  width: 200px;
  height: 4px;
  position: relative;
  background: lightgrey;
  border-radius: 30px;
  margin: 10px 0;

  & > div {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background: green;
    border-radius: 30px;
    transition: .3s ease-in-out;
    margin-right: 10px;
  }

  & > span {
    position: absolute;
    left: calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%);
  }
}
