<div class="product">
  <div class="product__sides">
    <div class="product__side">
      <div class="product__photo">
        <img src="{{bike?.imgUrl}}" alt="">
      </div>
    </div>

    <div class="product__side">
      <div class="product__title">{{bike?.name}}</div>

      <div class="rating">
        <div class="rating-stars">
          <div [class.active]="averageOfRating >= 1" class="rating-star"></div>
          <div [class.active]="averageOfRating >= 2" class="rating-star"></div>
          <div [class.active]="averageOfRating >= 3" class="rating-star"></div>
          <div [class.active]="averageOfRating >= 4" class="rating-star"></div>
          <div [class.active]="averageOfRating === 5" class="rating-star"></div>
        </div>
      </div>

      <div class="product__price">
        <div>{{bike?.discountedPrice | exchangeCurrency: exchangeRate | currency: currency}}</div>
        <div><span class="product__stock">Availability:  <span>In stock</span></span></div>
      </div>

      <div
        class="product__description"
        *ngIf="!descriptionToggle; else descriptionFull"
      >
        <span>{{bike?.description! | charLimitation: 150}}</span><span class="product__description-button"
                                                                       (click)="descriptionToggle = true" *ngIf="bike ? bike.description.length > 150 : false"> (Read More)</span>
      </div>

      <ng-template #descriptionFull>
        <div class="product__description">
          <span>{{bike?.description}}</span><span class="product__description-button"
                                                  (click)="descriptionToggle = false"> (Collapse)</span>
        </div>
      </ng-template>

      <form [formGroup]="form">
        <div class="product__select">
          <div class="product__label product__label--mb5">Color:</div>

          <div class="product__select-wrap">
            <select formControlName="color">
              <option value="">Select Color</option>
              <option *ngFor="let color of bike?.color" value="{{color}}">{{color}}</option>
            </select>
          </div>
        </div>

        <div class="product__select">
          <div class="product__label product__label--mb5">Size:</div>

          <div class="product__select-wrap">
            <select formControlName="size">
              <option value="">Select Size</option>
              <option *ngFor="let size of bike?.size" value="{{size}}">{{size}}</option>
            </select>
          </div>
        </div>

        <div class="product__input">
          <div class="product__label product__label--mb5">Quantity:</div>

          <input formControlName="quantity" type="number">
        </div>

        <div class="product__button product__button--cart">
          <button
            type="submit"
            (click)="submit()"
            [disabled]="!form.valid"
          >
            Add to card
          </button>
        </div>

<!--        <div class="product__button product__button&#45;&#45;wish">-->
<!--          <button type="button">-->
<!--            <fa-icon [icon]="faMagic"></fa-icon> Add to Wish List-->
<!--          </button>-->
<!--        </div>-->
      </form>
    </div>
  </div>

  <div class="reviews">
    <h2>REVIEWS ({{bike?.review! ? bike?.review!.length : 0}})</h2>

    <div
      class="review"
      *ngFor="let review of bike?.review"
    >
      <div class="review__top">
        <div class="review__author">{{review.author}}</div>
      </div>

      <div class="review__bottom">
        <div class="rating">
          <div class="rating-stars">
            <div [class.active]="review.rating >= 1" class="rating-star"></div>
            <div [class.active]="review.rating >= 2" class="rating-star"></div>
            <div [class.active]="review.rating >= 3" class="rating-star"></div>
            <div [class.active]="review.rating >= 4" class="rating-star"></div>
            <div [class.active]="review.rating === 5" class="rating-star"></div>
          </div>
        </div>

        <div class="review__text">{{review.text}}</div>
      </div>
    </div>
  </div>
</div>
