<div class="cards__item-top">
  <div class="cards__item-image">
    <div class="cards__item-label"><span><span>{{ bike.discount }}</span> % <br> off</span></div>
    <img src="{{ bike.imgUrl }}" alt="">
  </div>
</div>

<div class="cards__item-bottom">
  <div class="cards__item-row cards__item-row--pb5 cards__item-row--mb15">
    <div class="cards__item-line">
      <div class="cards__item-part cards__item-part--flex cards__item-part--aife">
        <div class="cards__item-price cards__item-price--new">
          {{ bike.price - (bike.discount * bike.price / 100) | currency : 'EUR' }}
        </div>
        <div class="cards__item-price cards__item-price--old">
          {{ bike.price | currency:'EUR' }}
        </div>
      </div>

      <div class="cards__item-part">
        <div class="cards__item-shop">{{ bike.shop }}</div>
      </div>
    </div>
  </div>

  <div class="cards__item-row cards__item-row--pb15 cards__item-row--mb10">
    <div class="cards__item-text">
      {{ bike.description | charLimitation: 35 }}
    </div>
  </div>

  <div class="cards__item-row">
    <div class="cards__item-line">
      <div class="cards__item-info" *ngIf="bike.shipping">{{ bike.shipping }}</div>
      <div class="cards__item-info">{{ bike.condition | titlecase }}</div>
      <div class="cards__item-info">{{ bike.discountUntil | date }}</div>
    </div>
  </div>
</div>
