<div class="cards">
  <div class="cards__sides">
    <div class="cards__side">
      <app-product
        class="cards__item cards__item--big discount-70"
        data-discount="70"
        *ngFor="let bike of productBigBike"
        [bike]="bike"
      ></app-product>
    </div>

    <div class="cards__side">
      <div class="cards__line">
        <app-product-small
          class="cards__item cards__item--small discount-60"
          *ngFor="let bike of productSmallTopBikes"
          [bike]="bike"
        ></app-product-small>
      </div>

      <div class="cards__line">
        <app-product-small
          class="cards__item cards__item--small discount-50"
          *ngFor="let bike of productSmallBottomBikes"
          [bike]="bike"
        ></app-product-small>
      </div>
    </div>
  </div>
</div>
