<header class="header">
  <a routerLink="/">
    <img src="assets/images/logo.png" alt="">
  </a>
</header>

<div class="container">
  <nav class="panel panel--left">
    <div class="panel__item">
      <div class="menu">
        <div class="menu__item">
          <a routerLink="/" class="menu__link">Home</a>
        </div>

        <div class="menu__item">
          <a href="about.html" class="menu__link">About us</a>
        </div>

        <div class="menu__item">
          <a
            routerLink="/contacts"
            class="menu__link">Contact</a>
        </div>

        <div class="menu__item">
          <a href="registration.html" class="menu__link">Registration</a>
        </div>

        <div class="menu__item">
          <a routerLink="/order" class="menu__link">
            <span><fa-icon [icon]="faShoppingCart"></fa-icon></span> Order{{ordersCount > 0 ? '('+ordersCount+')' : ''}}
          </a>
        </div>
      </div>
    </div>
  </nav>

  <main class="main">
    <router-outlet></router-outlet>
  </main>

  <aside class="panel panel--right">
    <div class="panel__item">
      <div class="autocomplete">
        <label for="tags">Brands <span class="small">(Eddy Merckx, etc...)</span>: </label>
        <input id="tags">
      </div>
    </div>

    <div class="panel__item">
      <div class="datepicker">
        <div class="datepicker__row">
          <div class="datepicker__label">
            <label for="from">From </label>
          </div>

          <div class="datepicker__input">
            <input type="text" id="from">
          </div>
        </div>

        <div class="datepicker__row">
          <div class="datepicker__label">
            <label for="to">to </label>
          </div>

          <div class="datepicker__input">
            <input type="text" id="to">
          </div>
        </div>
      </div>
    </div>
  </aside>
</div>

<footer class="footer">All rights reserved &#169;</footer>
