<div class="page">
  <header class="header">
    <div class="container">
      <div class="header-top">
        <ul class="pull-left">
          <li>
            <a>
              {{currencyService.currency}}
              <span class="fa fa-angle-down tz-down"></span>
            </a>

            <ul class="sub-menu">
              <li><a (click)="currencyService.setCurrency(Currency.EUR)">EUR</a></li>
              <li><a (click)="currencyService.setCurrency(Currency.USD)">USD</a></li>
              <li><a (click)="currencyService.setCurrency(Currency.GBP)">GBP</a></li>
            </ul>
          </li>

          <li>
            <a href="" routerLink="/">Call us: (012) 3456 7890</a>
          </li>
        </ul>

        <ul class="pull-right">
          <li *ngIf="authService.isAuthorized() | async"><a href="" routerLink="profile">My Account</a></li>
          <li><a href="" routerLink="cart">My Cart</a></li>
          <li class="tz-header-login" *ngIf="!(authService.isAuthorized() | async)">
            <a (click)="showModal()">Login</a>
            <ng-template appModalRef></ng-template>
          </li>
          <li class="tz-header-login" *ngIf="authService.isAuthorized() | async">
            <a (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>

      <div class="header-content">
        <h3 class="tz-logo pull-left"><a href="" routerLink="/"><img src="../assets/images/logo.png" alt="home"></a></h3>
      </div>
    </div>

    <nav class="tz-menu-primary">
      <div class="container">
        <div class="tz-menu-inner">
          <!--Main Menu-->
          <ul class="tz-main-menu pull-left nav-collapse">
            <li>
              <a href="" [routerLink]=" ['./'] "
                 routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">Home</a>
            </li>
<!--            <li>-->
<!--              <a href="shop.html">-->
<!--                category-->
<!--                <span class="red-light">On sale!</span>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="shop.html">Bikes</a>-->
<!--            </li>-->
            <li>
              <a href="" routerLink="contact" routerLinkActive="active">Contact</a>
            </li>
            <li *ngIf="authService.hasRole(Role.Admin)">
              <a href="" routerLink="new-product" routerLinkActive="active">New Product</a>
            </li>
          </ul>
          <!--End Main menu-->

          <!--Shop meta-->
          <app-minicart></app-minicart>
          <!--End Shop meta-->

          <!--navigation mobi-->
          <button data-target=".nav-collapse" class="btn-navbar tz_icon_menu" type="button">
            <i class="fa fa-bars"></i>
          </button>
          <!--End navigation mobi-->
        </div>
      </div>
    </nav>
  </header>

  <main class="main">
    <div class="container">
      <router-outlet>
        <app-breadcrumbs></app-breadcrumbs>
      </router-outlet>
    </div>
  </main>

  <footer class="footer">
    <div class="tz-copyright">
      <div class="container">
        <div class="row row--flex">
          <div class="col-md-6 col-sm-6">
            <p>Copyright © 2021 <a href="" routerLink="/">BikeSport</a>. All rights reserved.</p>
          </div>

          <div class="col-md-6 col-sm-6">
            <div class="pull-right">
            <span class="payments-method">
                <a href="#"><img src="../assets/images/Visa.png" alt="visa"></a>
                <a href="#"><img src="../assets/images/Intersection.png" alt="Intersection"></a>
                <a href="#"><img src="../assets/images/ebay.png" alt="ebay"></a>
                <a href="#"><img src="../assets/images/Amazon.png" alt="Amazon"></a>
                <a href="#"><img src="../assets/images/Discover.png" alt="Discover"></a>
            </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
