.review {
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &__author {
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
  }

  .rating {
    margin-bottom: 10px;
  }
}

button {
  background-color: #34cdeb;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  outline: none;
}
