<button
  class="btn"
  [routerLink]="['/product', bike.id]"
>Back to bike</button>

<div
  class="review"
  *ngFor="let review of bike.review"
>
  <div class="review__author">{{review.author}}</div>
  <div class="rating">
    <div class="rating-stars">
      <div [class.active]="review.rating >= 1" class="rating-star"></div>
      <div [class.active]="review.rating >= 2" class="rating-star"></div>
      <div [class.active]="review.rating >= 3" class="rating-star"></div>
      <div [class.active]="review.rating >= 4" class="rating-star"></div>
      <div [class.active]="review.rating === 5" class="rating-star"></div>
    </div>
  </div>
  <div class="review__text">{{review.text}}</div>
</div>
