html {
  width: 100%;
  height: 100vh;
  font-size: 1.0em;
}

body {
  margin: 0;
  height: 100%;
  background: #fff;
  font-family: 'Lato', sans-serif;
}

h1 {
  text-align: center;
}

.small {
  font-size: 12px;
  line-height: 12px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  background: #fff;
}

.footer {
  color: #000000;
}

.main {
  padding: 30px 0;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.main {
  background: #fff;
  position: relative;
  width: 100%;
  min-height: calc(100vh - 240px);
}

.main__title {
  font-weight: bold;
  margin-bottom: 10px;
}

/* Cards */
.cards {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px 0;
}

.cards__sides {
  display: flex;
  position: relative;
  margin-top: -11px;
  margin-left: -28px;
  right: -14px;
  flex-wrap: wrap;
}

.cards__side:last-child {
  display: flex;
  flex-wrap: wrap;
}

.cards__item {
  width: 371px;
  min-height: 200px;
  border: 1px solid;
  padding: 15px 20px 10px;
  box-sizing: border-box;
  margin: 11px 14px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: .3s ease-in-out;
  outline: none;

  &:hover {
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
  }

  &:nth-child(2),
  &:nth-child(4) {
    margin: 11px 14px 11px 413px;
  }
}

.cards__item--big {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 422px;
  position: absolute;
}

.cards__item--big .cards__item-top {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cards__item-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cards__item--big .cards__item-image {
  position: static;
}

.cards__item.discount-70 {
  border-color: red;
}

.cards__item.discount-60 {
  border-color: deeppink;
}

.cards__item.discount-50 {
  border-color: orange;
}

.cards__item--big .cards__item-image {
  width: 100%;
}

.cards__item-image img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.cards__item--big .cards__item-image img {
  margin: 0 auto;
}

.cards__item-image {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 100px;
}

.cards__item-label {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  text-align: center;
  font-size: 17px;
  line-height: 17px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5px;
  left: -10px;
  background: black;
  z-index: 30;
}

.cards__item.discount-70 .cards__item-label {
  background: red;
}

.cards__item.discount-60 .cards__item-label {
  background: deeppink;
}

.cards__item.discount-50 .cards__item-label {
  background: orange;
}

.cards__item-top {
  margin-bottom: 15px;
}

.cards__item-top {
  height: 100%;
  margin-bottom: 7px;
}

.cards__item-row:not(:last-child) {
  border-bottom: 1px dashed #e6e6e6;
}

.cards__item-row--pb5 {
  padding-bottom: 5px;
}

.cards__item-row--pb10 {
  padding-bottom: 10px;
}

.cards__item-row--pb15 {
  padding-bottom: 15px;
}

.cards__item-row--mb10 {
  margin-bottom: 10px;
}

.cards__item-row--mb15 {
  margin-bottom: 15px;
}

.cards__item-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards__line {
  display: flex;
}

.cards__item-line {
  position: relative;
  align-items: flex-end;
}

.cards__item-part--flex {
  display: flex;
}

.cards__item-part--aife {
  align-items: flex-end;
}

.cards__item-price--new {
  font-size: 25px;
  line-height: 25px;
}

.cards__item.discount-70 .cards__item-price--new {
  color: red;
}

.cards__item.discount-60 .cards__item-price--new {
  color: deeppink;
}

.cards__item.discount-50 .cards__item-price--new {
  color: orange;
}

.cards__item-price--old {
  font-size: 13px;
  line-height: 13px;
  color: #878787;
  margin-left: 10px;
  position: relative;
}

.cards__item-price--old::before {
  content: '';
  position: absolute;
  width: 115%;
  height: 2px;
  background: #878787;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(11deg);
}

.cards__item-shop {
  color: #878787;
  font-size: 13px;
  line-height: 13px;
}

.cards__item-text {
  max-width: 200px;
  font-size: 14px;
  line-height: 18px;
  color: #878787;
}

.cards__item--big .cards__item-text {
  max-width: 100%;
}

.cards__item-text {
  max-width: 160px;
}

.cards__item-info {
  flex: 1;
  text-align: center;
  font-size: 13px;
  line-height: 13px;
  color: #878787;
}

.cards__item-info:not(:last-child) {
  border-right: 1px solid #878787;
}

/* Menu */
.menu {
  padding: 10px;
}

.menu__item {
  text-align: center;
}

.menu__item:not(:last-child) {
  margin-bottom: 20px;
}

.menu__link {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  line-height: 18px;
  position: relative;
}

.menu__link::before {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  background: #000;
  transition: .3s ease-in-out;
  left: 0;
  bottom: 0;
}

.menu__link:hover::before {
  width: 100%;
}

/* Panel */
.panel__item:not(:last-child) {
  margin-bottom: 20px;
}

/* About page */
.about {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Google map */
#map {
  flex: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Form */
.form {
  width: 100%;
  max-width: 336px;
  margin: 0 auto;
}

.form__row:not(:last-child) {
  margin-bottom: 20px;
}

.form__elem {
  width: 336px;
  max-width: 100%;
}

.form__elem--flex {
  display: flex;
}

.form__string {
  display: flex;
  justify-content: center;
}

.form__elements .form__elem:not(:last-child) {
  margin-right: 20px;
}

.form__input input,
.form__select select,
.form__textarea textarea {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 38px;
  box-sizing: border-box;
  padding: 0 10px;
  border: 1px solid #dcdcdc;
  color: #4e4e4e;
  outline: none;
  margin: 0;
}

.form__textarea textarea {
  resize: none;
  height: 100px;
  padding: 10px;
}

.form__input--checkbox input {
  width: 20px;
  height: 20px;
  border-radius: 0;
}

.form__input--radio {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.form__input--radio input {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.form__select select {
  padding: 0 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.form__input input.ng-touched.ng-invalid,
.form__select select.ng-touched.ng-invalid,
.form__textarea textarea.ng-touched.ng-invalid {
  border-color: red;
}

.form__input input.ng-touched.ng-valid.ng-dirty,
.form__select select.ng-touched.ng-valid.ng-dirty,
.form__textarea textarea.ng-touched.ng-valid.ng-dirty {
  border-color: green;
}

.form__inputs {
  display: flex;
  height: 100%;
}

.form__button {
  button {
    background: #33b9ef;
    color: #fff;
    display: inline-block;
    min-width: 100px;
    border: none;
    cursor: pointer;
    height: 35px;
    outline: none;
    margin-right: 20px;

    &:hover {
      background: #55c2f6;
    }

    &:disabled {
      background: #b0daeb;
      cursor: not-allowed;
    }
  }

  &--order {
    button {
      background: #349a1c;

      &:hover {
        background: #4ab333;
      }
    }
  }
}

.form__error {
  color: #f94e5a;
  margin-top: 5px;
}

.form__label {
  display: block;
  text-transform: uppercase;
  color: #666666;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 14px;
}

.form__label--checkbox {
  margin-top: 4px;
  margin-left: 7px;
}

.form__block:not(:last-child) {
  margin-bottom: 60px;
}

.form__block-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 30px;
}

/* Datepicker */
.datepicker__row:not(:last-child) {
  margin-bottom: 10px;
}

.datepicker__input {
  display: flex;
  align-items: center;
}

.datepicker__input input {
  display: block;
  max-width: 75%;
  outline: none;
}

.datepicker__input button {
  display: block;
  padding: 0;
  background: transparent;
  border: none;
  margin-left: 5px;
  cursor: pointer;
  outline: none;
}

.datepicker__input button img {
  display: block;
  width: 20px;
}

/* Autocomplete */
.autocomplete input {
  display: block;
  max-width: 100%;
  box-sizing: border-box;
  outline: none;
}

/* Slider */
.slider {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.slider__item {
  outline: none;
  height: 100%;
}

.slider__item img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 250px;
}

.slider__inner {
  display: flex;
  align-items: center;
}

.slick-arrow {
  font-size: 0;
  line-height: 0;
  color: transparent;
  padding: 0;
  border: 0;
  appearance: none;
  cursor: pointer;
  position: absolute;
  width: 30px;
  height: 55px;
  background: url("assets/images/arrow.png") no-repeat center center;
  top: 50%;
  margin-top: -27px;
  outline: none;
  z-index: 20;
}

.slick-prev {
  left: 10px;
  transform: rotate(180deg);
}

.slick-next {
  right: 10px;
}

.slick-dots {
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 0;
  width: 100%;
}

.slick-dots li,
.slick-dots button {
  display: block;
  padding: 0;
  border: 0;
  font-size: 0;
  line-height: 0;
  box-shadow: none;
  outline: none;
}

.slick-dots li:not(:last-child) {
  margin-right: 15px;
}

.slick-dots button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
}

.slick-dots .slick-active button {
  background: orange;
}

/* Result */
#result {
  color: #c41a16;
}

#result b {
  color: #881391;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 1020px) {
  .container {
    width: 970px;
  }

  .cards__item {
    width: 294px;
  }

  .cards__item:nth-child(2), .cards__item:nth-child(4) {
    margin: 11px 14px 11px 337px;
  }
}

@media (min-width: 1240px) {
  .container {
    max-width: 1200px;
    width: 100%;
  }

  .cards__item {
    width: 371px;
  }

  .cards__item:nth-child(2),
  .cards__item:nth-child(4) {
    margin: 11px 14px 11px 413px;
  }
}

//@media screen and (max-width: 1450px) {
//  .cards__sides {
//    justify-content: center;
//  }
//
//  .cards__side:last-child {
//    width: 100%;
//    max-width: calc(310 * 2px + 14px * 4);
//    justify-content: center;
//  }
//
//  .cards__ite {
//    height: auto;
//    min-height: 215px;
//  }
//
//  .cards__item:nth-child(2), .cards__item:nth-child(4) {
//    margin: 11px 14px;
//  }
//
//  .cards__item--big {
//    position: static;
//    width: 648px;
//  }
//}

@media screen and (max-width: 1019px) {
  .cards__item {
    margin: 11px 0;
    max-width: 100%;
  }

  .cards__item:nth-child(2), .cards__item:nth-child(4) {
    margin: 11px 0;
  }

  .cards__item {
    width: 49%;
  }

  .cards__item--big {
    width: 100%;
    position: static;
  }

  .cards__item-row:first-child {
    margin-bottom: 15px;
  }

  .cards__item:not(.cards__item--big) .cards__item-row:first-child {
    margin-bottom: 50px;
  }

  .cards__item:not(.cards__item--big) .cards__item-row:last-child {
    padding-top: 10px;
    border-top: 1px dashed #e6e6e6;
  }

  .cards__item:not(.cards__item--big) .cards__item-text {
    position: absolute;
    bottom: -83px;
  }

  .cards__item-text {
    max-width: 100%;
  }

  .cards__item-image {
    position: static;
    width: 100%;
  }

  .cards__item-image img {
    margin: 0 auto;
  }

  .cards__side {
    max-width: 100%;
    width: 100%;
  }

  .cards__sides {
    right: auto;
    margin-left: 0;
    justify-content: space-between;
  }

  .cards__line {
    width: 100%;
    justify-content: space-between;
  }

  .cards__item-price--new {
    font-size: 18px;
    line-height: 18px;
  }

  .cards__item-price--old {
    font-size: 12px;
    line-height: 11px;
    margin-left: 4px;

    &::before {
      width: 110%;
      height: 1px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
  }

  .panel {
    width: 100%;
  }

  .panel--right .panel__item {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .slider__item img {
    max-width: 60%;
  }

  .slick-next {
    right: 0;
  }

  .slick-prev {
    left: 0;
  }

  #map {
    min-height: 500px;
  }

  .cards__side,
  .cards__side:last-child,
  .cards__item {
    width: 100%;
    max-width: 100%;
  }

  .cards__line {
    flex-direction: column;
  }

  .cards__item {
    width: 100%;
  }

  .cards__item-image {
    width: 280px;
    margin: 0 auto;

    img {
      max-width: 100%;
    }
  }

  .cards__item {
    min-height: auto;
  }
}

.rating {
  display: flex;
  align-items: center;

  &-star {
    width: 20px;
    height: 20px;
    display: block;
    background: url("assets/images/star-black.png") no-repeat center top;

    &.active {
      background: url("assets/images/star-active-black.png") no-repeat center top;
    }

    &s {
      display: flex;
      margin-right: 5px;
    }
  }

  &-count {
    color: #f44336;
    font-size: 14px;
    line-height: 14px;
  }
}

.p-fileupload-row {
  flex-wrap: wrap;
}

.p-fileupload-row>div {
  width: auto !important;
}

.p-breadcrumb ul li:last-child .p-menuitem-text {
  cursor: default;
}

.p-breadcrumb ul li .p-menuitem-link,
.p-breadcrumb ul li .p-menuitem-link:focus {
  outline: none !important;
  box-shadow: none !important;
}

.p-breadcrumb ul li:not(:last-child) .p-menuitem-link {
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    border-bottom: 1px solid;
    transition: .3s ease-in-out;
  }
}

.p-breadcrumb ul li:not(:last-child) .p-menuitem-link:hover::after {
  width: 100%;
}

.p-breadcrumb {
  padding: 0 0 1rem !important;
  border: none !important;
}

.form__delete {
  border: none;
  box-shadow: none;
  cursor: pointer;
  color: red;
  margin-left: 10px;
}

.form__colors,
.form__sizes {
  ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;

    li {
      position: relative;
      padding-left: 15px;

      &::before {
        content: '';
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #000;
        top: 7px;
        left: 0;
      }
    }
  }
}

.form__image-preview {
  max-width: 100%;
}

.header-top {
  position: relative;
  margin: 18px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-top ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.header-top ul li {
  position: relative;
  padding: 0 0 12px;
  z-index: 99;
}

.header-top ul li > a {
  display: block;
  padding: 0 18px;
  border-left: 1px solid #e0e0e0;
  line-height: 16px;
  font-size: 14px;
  cursor: pointer;
}

.header-top ul li:first-child a {
  border-left: 0;
}

.header-top ul.pull-left li:first-child a {
  padding-left: 0;
}

.header-top ul li ul {
  list-style: none;
  margin: 0;
  position: absolute;
  left: 70%;
  top: 100%;
  min-width: 100px;
  padding: 10px 14px 8px;
  border: 2px solid #e0e0e0;
  background: #ffffff;
  -webkit-transition: all 0.15s ease 0s;
  -o-transition: all 0.15s ease 0s;
  transition: all 0.15s ease 0s;
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  display: block;
}

.header-content {
  padding: 0 0 15px;
}

.tz-login-form {
  position: absolute;
  top: 80px;
  min-width: 310px;
  border: 2px solid #e0e0e0;
  background: #ffffff;
  padding: 2px 18px;
  visibility: hidden;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  opacity: 0;
  filter: alpha(opacity=0);
  right: 0;
}

.tz-header-login:hover .tz-login-form {
  visibility: visible;
  top: 100%;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  opacity: 1;
  filter: alpha(opacity=100);
}

.tz-login-form:before {
  position: absolute;
  right: 8px;
  top: -7px;
  border-bottom: 5px solid #e0e0e0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: '';
}

.tz-login-form:after {
  position: absolute;
  right: 10px;
  top: -4px;
  border-bottom: 4px solid #ffffff;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  content: '';
}

.tz-login-form .form-content {
  margin: 15px 0;
  padding: 0;
}

.tz-login-form .form-footer {
  padding: 4px 0;
}

.tz-login-form .form-text {
  padding: 21px 0 30px;
}

.tz-login-form .form-content label {
  display: block;
  font-size: 16px;
  line-height: 36px;
  color: #212121;
  font-weight: 300;
  margin: 0;
}

.tz-login-form .form-content input {
  width: 100%;
  display: block;
  border: 1px solid #e0e0e0;
  padding: 0 10px;
  height: 40px;
  font-family: inherit;
}

.tz-login-form .form-footer a {
  display: inline-block;
  -webkit-transform: translate(0, 6px);
  -ms-transform: translate(0, 6px);
  -o-transform: translate(0, 6px);
  transform: translate(0, 6px);
  color: #f44336;
}

.header-top ul.pull-right li:last-child a {
  padding-right: 0;
}

.button_class {
  background: #212121;
  color: #ffffff;
  text-transform: uppercase;
  padding: 2px 25px;
  display: inline-block;
  border: 0;
  font-size: 16px;
  line-height: 36px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  cursor: pointer;

  &:disabled {
    background: grey;
    cursor: not-allowed;
  }
}

.tz-login-form .form-text a {
  color: #f44336;
}

.button_class:hover, .button_class:focus {
  background: #f44336;
}

.header-top ul li:hover > ul.sub-menu {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  left: 0;
  visibility: visible;
}

a {
  color: #212121;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #f44336;
  outline: none;
}

.header-top ul li ul li a:hover {
  padding-left: 10px !important;
}

.header-top ul li ul li a {
  -webkit-transition: padding-left 0.4s ease 0s;
  -o-transition: padding-left 0.4s ease 0s;
  transition: padding-left 0.4s ease 0s;
  line-height: 31px;
  padding: 0;
  display: block;
}

.tz-logo {
  img {
    display: block;
    margin: 0 auto;
  }
}

.tz-menu-primary {
  background: #212121;
  position: relative;
}

.tz-main-menu,
.tz-ecommerce-meta {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tz-main-menu {
  display: flex;
}

.tz-mini-cart {
  display: flex;
  position: relative;
}

.tz-menu-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tz_icon_menu {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 0 none;
  color: #fff;
  display: none;
  padding: 0 20px;
  line-height: 60px;
  position: absolute;
  left: 0;
  top: 0;
}

.tz-main-menu > li > a {
  display: block;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0 24px;
  line-height: 60px;
  position: relative;
  font-weight: 300;
}

.tz-main-menu > li:first-child a {
  padding-left: 0;
}

.tz-ecommerce-meta > .tz-mini-cart {
  float: left;
  padding: 0;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 14px center;
}

.tz-ecommerce-meta > .tz-mini-cart.tz-mini-cart {
  background-image: url('assets/images/cart_icon.png');
  padding-right: 0;
}

.tz-ecommerce-meta > .tz-mini-cart > a {
  line-height: 60px;
  min-height: 60px;
  position: relative;
  display: block;
  padding: 0 15px 0 42px;
  color: #ffffff;
  font-size: 16px;
}

.tz-ecommerce-meta > .tz-mini-cart:last-child > a {
  padding-right: 0;
}

.tz-ecommerce-meta > .tz-mini-cart > a > strong {
  display: block;
  position: absolute;
  left: 0;
  top: 15px;
  min-width: 18px;
  min-height: 18px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #fd4339;
  line-height: 18px;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  padding-left: 1px;
}

.tz-ecommerce-meta > .tz-mini-cart:hover .cart-inner:not(.empty) {
  visibility: visible;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  opacity: 1;
  filter: alpha(opacity=100);
  top: 100%;
}

.cart-inner {
  position: absolute;
  right: 0;
  top: 180%;
  background: #ffffff;
  width: 360px;
  padding: 30px;
  list-style: none;
  margin: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 888;
  line-height: 24px;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}

.cart-inner:before {
  position: absolute;
  right: 90%;
  top: -5px;
  border-bottom: 5px solid #ffffff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: '';
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
  filter: alpha(opacity=0);
}

.cart-inner .mini-cart-content {
  border-top: 1px solid #e0e0e0;
  padding-top: 15px;
  margin-top: 15px;
  position: relative;
}

.cart-inner .mini-cart-content:first-child {
  border-top: 0;
  padding-top: 0;
  margin-top: 0;
}

.cart-inner .mini-subtotal {
  margin: 5px 0 0 5px;
  padding: 35px 0 0 0;
}

.cart-inner .mini-footer {
  margin: 24px 0 0;
}

.cart-inner .mini-cart-content .mini-cart-img {
  float: left;
  display: block;
  width: 60px;
  height: 60px;
  border: 1px solid #e0e0e0;
  text-align: center;
  position: relative;
}

.cart-inner .mini-cart-content .mini-cart-img img {
  max-width: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  outline: none;
  cursor: pointer;
}

.cart-inner .mini-cart-content .mini-cart-ds {
  padding-left: 80px;
}

.cart-inner .mini-cart-content .mini-cart-delete {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  text-align: center;
  line-height: 10px;
  display: block;
}

.cart-inner .mini-subtotal .subtotal-content {
  display: block;
  border: 1px solid #eeeeee;
  background: #fafafa;
  position: relative;
  padding: 20px 20px 25px 15px;
  -o-box-shadow: -5px -5px 0px -1px #ffffff, -5px -5px 0 0 #eeeeee;
  -ms-box-shadow: -5px -5px 0px -1px #ffffff, -5px -5px 0 0 #eeeeee;
  -webkit-box-shadow: -5px -5px 0px -1px #ffffff, -5px -5px 0 0 #eeeeee;
  box-shadow: -5px -5px 0px -1px #ffffff, -5px -5px 0 0 #eeeeee;
  font-size: 19px;
}

.cart-inner .mini-subtotal .subtotal-content strong {
  font-weight: 700;
  color: #212121;
}

.cart-inner .mini-footer .view-cart {
  background: #bdbdbd;
  color: #ffffff;
  text-transform: none;
  padding: 2px 36px;
  display: inline-block;
  border: 0;
  font-size: 16px;
  line-height: 36px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.cart-inner .mini-footer .check-out {
  background: #f44336;
  color: #ffffff;
  text-transform: none;
  padding: 2px 36px;
  display: inline-block;
  border: 0;
  font-size: 16px;
  line-height: 36px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  float: right;
}

.cart-inner .mini-cart-content .mini-cart-delete {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  text-align: center;
  line-height: 10px;
  display: block;
}

.cart-inner .mini-cart-content .mini-cart-delete img {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.cart-inner .mini-cart-content .mini-cart-delete:hover img {
  -webkit-transform: scale(1.6);
  -ms-transform: scale(1.6);
  -o-transform: scale(1.6);
  transform: scale(1.6);
}

.cart-inner .mini-footer .view-cart:hover, .cart-inner .mini-footer .view-cart:focus {
  background: #f44336;
}

.cart-inner .mini-cart-content .mini-cart-ds h6 {
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 2px 0;
}

.cart-inner .mini-cart-content .mini-cart-ds .mini-cart-meta a {
  color: #f44336;
  display: block;
  margin-bottom: 2px;
}

.cart-inner .mini-cart-content .mini-cart-ds .mini-cart-meta .mini-meta .mini-color i {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-left: 2px;
}

.orange {
  background: #ff9800;
  color: #ff9800;
}

.cart-inner .mini-cart-content .mini-cart-ds .mini-cart-meta .mini-item {
  display: block;
  font-weight: 300;
}

.tz-main-menu > li > a:hover, .tz-main-menu > li > a:focus, .tz-main-menu > li > a.active {
  color: #f44336;
}

.tz-main-menu > li > a span {
  display: block;
  text-transform: uppercase;
  position: absolute;
  left: 32%;
  top: -10px;
  font-size: 11px;
  font-weight: 400;
  min-width: 70px;
  text-align: center;
  line-height: 21px;
  color: #ffffff;
  z-index: 888;
  background: #fd4339;
}

.tz-main-menu > li > a span:before {
  content: '';
  position: absolute;
  left: 4px;
  bottom: -3px;
  border-top: 3px solid #fd4339;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}

.row--flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tz-copyright {
  background: #212121;
  padding: 27px 0;
}

p {
  padding: 10px 0;
  margin: 0;
  font-size: 16px;
  line-height: 27px;
  color: #212121;
}

.tz-copyright p {
  color: #bdbdbd;
}

.tz-copyright p a {
  color: #f44336;
}

.payments-method {
  padding: 12px 0;
  display: flex;
}

.payments-method a {
  padding-left: 7px;
}

.modal h2 {
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  color: #212121;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.modal form {
  width: 570px;
  margin: 47px auto 0;
}

.modal form .form-row {
  padding: 9px 0;
}

.modal form .form-row label {
  text-transform: uppercase;
}

.modal form .form-row input {
  width: 100%;
  height: 50px;
  border: 1px solid #e0e0e0;
  padding: 0 15px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  line-height: 40px;
  outline: none;
}

.modal form .form-row {
  padding: 9px 0;
}

.modal form .form-row button {
  background: #212121;
  color: #ffffff;
  text-transform: uppercase;
  padding: 5px 35px;
  display: inline-block;
  border: 0;
  font-size: 16px;
  line-height: 36px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  float: right;
  height: 50px;
  margin-top: 1px;
  cursor: pointer;

  &:disabled {
    background: grey;
    cursor: not-allowed;
  }
}

.modal form .form-row:after {
  clear: both;
  display: table;
  content: '';
}

.modal form .form-row button:not(:disabled):hover {
  background: #f44336;
}
