html {
  width: 100%;
  height: 100vh;
  font-size: 1.0em;
}

body {
  margin: 0;
  height: 100%;
  background: #fff;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
}

.small {
  font-size: 12px;
  line-height: 12px;
}

.container {
  display: flex;
  min-height: calc(100vh - 170px);
}

.header, .footer {
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.header {
  background: #fff;
  height: 100px;
}

.header img {
  display: block;
  width: 160px;
}

.footer {
  color: #000000;
}

.panel, .main {
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.panel {
  width: 200px;
}

.main {
  background: #fff;
  flex: 1;
  position: relative;
  width: 100%;
}

.main__title {
  font-weight: bold;
  margin-bottom: 10px;
}

/* Cards */
.cards {
  width: 100%;
  max-width: 1006px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px;
}

.cards__sides {
  display: flex;
  position: relative;
  margin-top: -11px;
  margin-left: -28px;
  right: -14px;
  flex-wrap: wrap;
}

.cards__side:last-child {
  display: flex;
  flex-wrap: wrap;
}

.cards__item {
  width: 310px;
  min-height: 200px;
  border: 1px solid;
  padding: 15px 20px 10px;
  box-sizing: border-box;
  margin: 11px 14px;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &:nth-child(2),
  &:nth-child(4) {
    margin: 11px 14px 11px 352px;
  }
}

.cards__item--big {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 422px;
  position: absolute;
}

.cards__item--big .cards__item-top {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cards__item-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cards__item--big .cards__item-image {
  position: static;
}

.cards__item.discount-70 {
  border-color: red;
}

.cards__item.discount-60 {
  border-color: pink;
}

.cards__item.discount-50 {
  border-color: orange;
}

.cards__item--big .cards__item-image {
  width: 100%;
}

.cards__item-image img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.cards__item--big .cards__item-image img {
  margin: 0 auto;
}

.cards__item-image {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 100px;
}

.cards__item-label {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  text-align: center;
  font-size: 17px;
  line-height: 17px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5px;
  left: -10px;
  background: black;
}

.cards__item.discount-70 .cards__item-label {
  background: red;
}

.cards__item.discount-60 .cards__item-label {
  background: pink;
}

.cards__item.discount-50 .cards__item-label {
  background: orange;
}

.cards__item-top {
  margin-bottom: 15px;
}

.cards__item-top {
  height: 100%;
  margin-bottom: 7px;
}

.cards__item-row:not(:last-child) {
  border-bottom: 1px dashed #e6e6e6;
}

.cards__item-row--pb5 {
  padding-bottom: 5px;
}

.cards__item-row--pb10 {
  padding-bottom: 10px;
}

.cards__item-row--pb15 {
  padding-bottom: 15px;
}

.cards__item-row--mb10 {
  margin-bottom: 10px;
}

.cards__item-row--mb15 {
  margin-bottom: 15px;
}

.cards__item-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards__line {
  display: flex;
}

.cards__item-line {
  position: relative;
  align-items: flex-end;
}

.cards__item-part--flex {
  display: flex;
}

.cards__item-part--aife {
  align-items: flex-end;
}

.cards__item-price--new {
  font-size: 25px;
  line-height: 25px;
}

.cards__item.discount-70 .cards__item-price--new {
  color: red;
}

.cards__item.discount-60 .cards__item-price--new {
  color: pink;
}

.cards__item.discount-50 .cards__item-price--new {
  color: orange;
}

.cards__item-price--old {
  font-size: 13px;
  line-height: 13px;
  color: #878787;
  margin-left: 10px;
  position: relative;
}

.cards__item-price--old::before {
  content: '';
  position: absolute;
  width: 115%;
  height: 2px;
  background: #878787;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(11deg);
}

.cards__item-shop {
  color: #878787;
  font-size: 13px;
  line-height: 13px;
}

.cards__item-text {
  max-width: 200px;
  font-size: 14px;
  line-height: 18px;
  color: #878787;
}

.cards__item--big .cards__item-text {
  max-width: 100%;
}

.cards__item-text {
  max-width: 160px;
}

.cards__item-info {
  flex: 1;
  text-align: center;
  font-size: 13px;
  line-height: 13px;
  color: #878787;
}

.cards__item-info:not(:last-child) {
  border-right: 1px solid #878787;
}

/* Menu */
.menu {
  padding: 10px;
}

.menu__item {
  text-align: center;
}

.menu__item:not(:last-child) {
  margin-bottom: 20px;
}

.menu__link {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  line-height: 18px;
  position: relative;
}

.menu__link::before {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  background: #000;
  transition: .3s ease-in-out;
  left: 0;
  bottom: 0;
}

.menu__link:hover::before {
  width: 100%;
}

/* Panel */
.panel__item:not(:last-child) {
  margin-bottom: 20px;
}

/* About page */
.about {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Google map */
#map {
  flex: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Form */
.form {
  width: 100%;
  max-width: 336px;
  margin: 0 auto;
}

.form__row:not(:last-child) {
  margin-bottom: 20px;
}

.form__elem {
  width: 336px;
  max-width: 100%;
}

.form__elem--flex {
  display: flex;
}

.form__string {
  display: flex;
  justify-content: center;
}

.form__elements .form__elem:not(:last-child) {
  margin-right: 20px;
}

.form__input input,
.form__select select,
.form__textarea textarea {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 38px;
  box-sizing: border-box;
  padding: 0 10px;
  border: 1px solid #dcdcdc;
  color: #4e4e4e;
  outline: none;
  margin: 0;
}

.form__textarea textarea {
  resize: none;
  height: 100px;
  padding: 10px;
}

.form__input--checkbox input {
  width: 20px;
  height: 20px;
  border-radius: 0;
}

.form__input--radio {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.form__input--radio input {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.form__select select {
  padding: 0 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.form__input input.ng-touched.ng-invalid,
.form__select select.ng-touched.ng-invalid,
.form__textarea textarea.ng-touched.ng-invalid {
  border-color: red;
}

.form__input input.ng-touched.ng-valid.ng-dirty,
.form__select select.ng-touched.ng-valid.ng-dirty,
.form__textarea textarea.ng-touched.ng-valid.ng-dirty {
  border-color: green;
}

.form__inputs {
  display: flex;
  height: 100%;
}

.form__button {
  button {
    background: #33b9ef;
    color: #fff;
    display: inline-block;
    min-width: 100px;
    border: none;
    cursor: pointer;
    height: 35px;
    outline: none;
    margin-right: 20px;

    &:hover {
      background: #55c2f6;
    }

    &:disabled {
      background: #b0daeb;
      cursor: not-allowed;
    }
  }

  &--order {
    button {
      background: #349a1c;

      &:hover {
        background: #4ab333;
      }
    }
  }
}

.form__error {
  color: #f94e5a;
  margin-top: 5px;
}

.form__label {
  display: block;
  text-transform: uppercase;
  color: #666666;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 14px;
}

.form__label--checkbox {
  margin-top: 4px;
  margin-left: 7px;
}

.form__block:not(:last-child) {
  margin-bottom: 60px;
}

.form__block-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 30px;
}

/* Datepicker */
.datepicker__row:not(:last-child) {
  margin-bottom: 10px;
}

.datepicker__input {
  display: flex;
  align-items: center;
}

.datepicker__input input {
  display: block;
  max-width: 75%;
  outline: none;
}

.datepicker__input button {
  display: block;
  padding: 0;
  background: transparent;
  border: none;
  margin-left: 5px;
  cursor: pointer;
  outline: none;
}

.datepicker__input button img {
  display: block;
  width: 20px;
}

/* Autocomplete */
.autocomplete input {
  display: block;
  max-width: 100%;
  box-sizing: border-box;
  outline: none;
}

/* Slider */
.slider {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.slider__item {
  outline: none;
  height: 100%;
}

.slider__item img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 250px;
}

.slider__inner {
  display: flex;
  align-items: center;
}

.slick-arrow {
  font-size: 0;
  line-height: 0;
  color: transparent;
  padding: 0;
  border: 0;
  appearance: none;
  cursor: pointer;
  position: absolute;
  width: 30px;
  height: 55px;
  background: url("assets/images/arrow.png") no-repeat center center;
  top: 50%;
  margin-top: -27px;
  outline: none;
  z-index: 20;
}

.slick-prev {
  left: 10px;
  transform: rotate(180deg);
}

.slick-next {
  right: 10px;
}

.slick-dots {
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 0;
  width: 100%;
}

.slick-dots li,
.slick-dots button {
  display: block;
  padding: 0;
  border: 0;
  font-size: 0;
  line-height: 0;
  box-shadow: none;
  outline: none;
}

.slick-dots li:not(:last-child) {
  margin-right: 15px;
}

.slick-dots button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
}

.slick-dots .slick-active button {
  background: orange;
}

/* Result */
#result {
  color: #c41a16;
}

#result b {
  color: #881391;
}

@media screen and (max-width: 1450px) {
  .cards__sides {
    justify-content: center;
  }

  .cards__side:last-child {
    width: 100%;
    max-width: calc(310 * 2px + 14px * 4);
    justify-content: center;
  }

  .cards__ite {
    height: auto;
    min-height: 215px;
  }

  .cards__item:nth-child(2), .cards__item:nth-child(4) {
    margin: 11px 14px;
  }

  .cards__item--big {
    position: static;
    width: 648px;
  }
}

@media screen and (max-width: 1150px) {
  .cards__item {
    margin: 11px 0;
    max-width: 100%;
  }

  .cards__item:nth-child(2), .cards__item:nth-child(4) {
    margin: 11px 0;
  }

  .cards__item {
    width: 49%;
  }

  .cards__item--big {
    width: 100%;
  }

  .cards__item-row:first-child {
    margin-bottom: 15px;
  }

  .cards__item:not(.cards__item--big) .cards__item-row:first-child {
    margin-bottom: 50px;
  }

  .cards__item:not(.cards__item--big) .cards__item-row:last-child {
    padding-top: 10px;
    border-top: 1px dashed #e6e6e6;
  }

  .cards__item:not(.cards__item--big) .cards__item-text {
    position: absolute;
    bottom: -83px;
  }

  .cards__item-text {
    max-width: 100%;
  }

  .cards__item-image {
    position: static;
    width: 100%;
  }

  .cards__item-image img {
    margin: 0 auto;
  }

  .cards__side {
    max-width: 100%;
    width: 100%;
  }

  .cards__sides {
    right: auto;
    margin-left: 0;
    justify-content: space-between;
  }

  .cards__line {
    width: 100%;
    justify-content: space-between;
  }

  .cards__item-price--new {
    font-size: 18px;
    line-height: 18px;
  }

  .cards__item-price--old {
    font-size: 12px;
    line-height: 11px;
    margin-left: 4px;

    &::before {
      width: 110%;
      height: 1px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
  }

  .panel {
    width: 100%;
  }

  .panel--right .panel__item {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .slider__item img {
    max-width: 60%;
  }

  .slick-next {
    right: 0;
  }

  .slick-prev {
    left: 0;
  }

  #map {
    min-height: 500px;
  }

  .cards__side,
  .cards__side:last-child,
  .cards__item {
    width: 100%;
    max-width: 100%;
  }

  .cards__line {
    flex-direction: column;
  }

  .cards__item {
    width: 100%;
  }

  .cards__item-image {
    width: 280px;
    margin: 0 auto;

    img {
      max-width: 100%;
    }
  }

  .cards__item {
    min-height: auto;
  }
}

.rating {
  display: flex;
  align-items: center;

  &-star {
    width: 20px;
    height: 20px;
    display: block;
    background: url("assets/images/star.png") no-repeat center top;

    &.active {
      background: url("assets/images/star-active.png") no-repeat center top;
    }

    &s {
      display: flex;
      margin-right: 5px;
    }
  }

  &-count {
    color: #34cdeb;
    font-size: 14px;
    line-height: 14px;
  }
}

.p-fileupload-row {
  flex-wrap: wrap;
}

.p-fileupload-row>div {
  width: auto !important;
}
